@import '_variables.scss';
.login {
  margin: 4em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  .btn {
    margin-top: 2em;
    width: 80%;
  }
}

@media only screen and (max-width: $width_mobile) {
  .login {
    .btn {
      margin-top: 2em;
      width: 100%;
      padding: 0em;
    }
  }
}
