@import '_variables.scss';
.title {
  color: $color_secondary;
}

.text {
  font-size: 1.2em;
  font-weight: 300;
  color: $color_text;
}

.link {
  color: $color_primary_lighten;
}

.tabs .tab a {
  color: $color_secondary;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: $color_secondary_lighten;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(102, 147, 153, 0.7);
}

.tabs .indicator {
  background-color: $color_secondary;
}
