<div class="col s6 m4 l3">
  <div class="card">
    <div class="card-image">
      <img src="assets/mona-default.png">
      <a class="btn-floating halfway-fab waves-effect waves-light green">
        <i class="material-icons">add</i>
      </a>
      <a class="btn-floating remove halfway-fab waves-effect waves-light red">
        <i class="material-icons">remove</i>
      </a>
    </div>
    <div class="card-content">
      <p>{{name}}</p>
      <p># 21 - Colombia</p>
      <p>Repeditas: 3</p>
    </div>
  </div>
</div>
