@import '_variables.scss';
.title-table {
    color: $color_primary;
    font-weight: 300;
    margin-top: 1em;
}
.search-form{
  margin-top: 1em;
}

table {
    margin-bottom: 3em;
}

tbody {
  tr {
    cursor: pointer;
  }
}
