<h1 class="title">Cambiar monas repetidas del mundial</h1>
<h2 class="sub-title">Rapido y seguro con mas de
  <span>{{registeredUsers}}</span> usuarios registrados</h2>
<hr/>

<h5 class="title-table">Usuarios con monas repetidas</h5>
<table class="striped highlight">
  <thead>
    <tr>
      <th>Número</th>
      <th>Cuantas tiene</th>
      <th>Usuario</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of monasRepeat" [routerLink]="['/perfil', product.userName]">
      <td>{{product.number}}</td>
      <td>{{product.count}}</td>
      <td>{{product.userName}}</td>
    </tr>
  </tbody>
</table>
