<h1 class="title">Cambiar monas repetidas del mundial</h1>
<h2 class="sub-title">Rapido y seguro con mas de
  <span>1.000</span> usuarios registrados</h2>
<hr/>

<h5 class="title-table">Usuarios con monas repetidas</h5>
<table class="striped highlight">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Cuantas tiene</th>
      <th>Usuario</th>
      <th>Cambios</th>
      <th>Reputación</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of monasRepeat">
      <td>{{product.number}}</td>
      <td>{{product.count}}</td>
      <td>juanedsa</td>
      <td>24</td>
      <td>4.5</td>
    </tr>
  </tbody>
</table>
