<div class="row">

  <!-- <div class="col s3 profile-info">
    <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/24174409_1509430915810677_1415289669375885781_n.jpg?oh=965a46d00f5531065c2879e56eed7169&oe=5B4580DC"
      alt="" class="circle responsive-img">
    <p class="text">Hola, Juan</p>
    <p class="text">juanedsa@gmail.com</p>
    <p class="text">300 3659821</p>
  </div> -->

  <div class="col s12 panel-monas">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3 light-blue-text text-darken-3">
            <a class="active" href="#monas">Mis Monas</a>
          </li>
          <li class="tab col s3">
            <a href="#datos">Mis Datos</a>
          </li>
        </ul>
      </div>
      <div id="monas" class="col s12">
        <div class="row">
          <app-mona [name]="'Radamel Falcao'"></app-mona>
          <app-mona [name]="'James'"></app-mona>
          <app-mona [name]="'Messi'"></app-mona>
          <app-mona [name]="'Ronaldo'"></app-mona>
          <app-mona [name]="'Radamel Falcao'"></app-mona>
          <app-mona [name]="'Radamel Falcao'"></app-mona>
        </div>
      </div>
      <div id="datos" class="col s12">Test 2</div>
    </div>
  </div>

</div>
