@import '_mixins.scss';
@import '_variables.scss';

.panel-monas {
  padding: 4em 2em;
}
.profile-info {
  @include flex-column-center();
  padding-top: 4em;
  img {
    max-width: 100px;
  }
  p {
    margin: .2em 0;
  }
}
