<footer class="page-footer blue-grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="blue-grey-text">Cambia Monas</h5>
        <p class="blue-grey-text text-lighten-1">Cambia tus monas del mundial de una forma rapida y segura.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="blue-grey-text">Otros Links</h5>
        <ul>
          <li>
            <a class="blue-grey-text text-lighten-1" routerLink="/terminos-condiciones">Terminos y condiciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey lighten-3">
    <div class="container blue-grey-text">
      © 2017 Copyright Cambia Monas
    </div>
  </div>
</footer>
